<div class="header">
  <div class="container">
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="main">
      <h1>Micaela Melek</h1>

      <p>I'm a PHP and Ruby developer based in Buenos Aires, Argentina. <br>
        In addition to the courses I took with the purpose of expanding my PHP and Ruby knowledge,
        I'm self-taught that likes to explore and implement the things that I've learned.
      </p>

      <h2>Contact me</h1>
        <div class="supporting">
          <div class="container">
              <a href="https://github.com/MicaelaMelek" target="_blank"><img src="https://s7.postimg.org/pnj69k6gb/github.png"></a>
              <a href="https://www.linkedin.com/in/micaelamelek/" target="_blank"><img src="https://s7.postimg.org/77ypc9uxn/linkedin.png"></a>
              <a href="mailto:micaelamelek@gmail.com"><img src="https://s7.postimg.org/8x8pnedqz/newsletter.png"></a>

            </div>
          </div>
          <div class="clearfix"></div>
        </div>

    </div>
  </div>
</div>



<div class="footer">
  <div class="container">
    <div>Icons made by <a href="https://www.flaticon.com/authors/hand-drawn-goods" title="Hand Drawn Goods">Hand Drawn Goods</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div>Icons made by <a href="https://www.flaticon.com/authors/swifticons" title="Swifticons">Swifticons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>
